RewriteEngine On

ErrorDocument 404 /error?code=404
ErrorDocument 500 /error?code=500

# Umschreiben von "localhost/api/" auf "localhost/api.php"
RewriteRule ^api/?$ api.php [L]

# Umschreiben von "localhost/login/" auf "localhost/login.php"
RewriteRule ^login/?$ login.php [L]

# Umschreiben von "localhost/error/" auf "localhost/error.php"
RewriteRule ^error/?$ error.php [L]

# Umschreiben von "localhost/admin/" auf "localhost/admin.php"
RewriteRule ^admin/?$ admin.php [L]

# Umschreiben von "localhost/calendar/" auf "localhost/calendar.php"
RewriteRule ^calendar/?$ calendar.php [L]

<FilesMatch "\.(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
    Order Allow,Deny
    Deny from all
    ErrorDocument 403 /error?code=403
</FilesMatch>